.discount{
    background-image: url('../../../../assets/Discount.png');
    background-position: 0 0; ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 200px;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    .discount{
        padding: 50px;
    }
  }